<%- include('partials/header') %>
    
<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white border-b text-sm py-2.5 lg:ps-[260px] ">
    <nav class="px-4 sm:px-6 flex basis-full items-center w-full mx-auto">
      <div class="me-5 lg:me-0 lg:hidden">
        <!-- Logo -->
        <!-- End Logo -->
      </div>
  
      <div class="w-full flex items-center justify-between ms-auto gap-x-1 md:gap-x-3">
  
        <div class="flex justify-between">
            <span class="me-5">Room Code: <strong></strong></span>
            <span>Welcome, <strong><%= username %>!</strong></span>
        </div>
        <a href="/home" class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border-2 border-red-800 bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:bg-red-600 disabled:opacity-50 disabled:pointer-events-none">
          Leave
        </a>
          <!-- End Dropdown -->
      </div>
    </nav>
  </header>
  <!-- ========== END HEADER ========== -->
  
  <!-- ========== MAIN CONTENT ========== -->
  <div class="-mt-px">
    <!-- Breadcrumb -->
    <div class="sticky top-0 inset-x-0 z-20 bg-white border-y px-4 sm:px-6 lg:px-8">
      
    </div>
  </div>
  
  <!-- Sidebar -->
  <div id="hs-application-sidebar" class="hs-overlay  [--auto-close:lg]
    hs-overlay-open:translate-x-0
    -translate-x-full transition-all duration-300 transform
    w-[260px] h-full
    hidden
    fixed inset-y-0 start-0 z-[60]
    bg-white border-e border-gray-200
    lg:block lg:translate-x-0 lg:end-auto lg:bottom-0
    " role="dialog" tabindex="-1" aria-label="Sidebar">
    <div class="relative flex flex-col h-full max-h-full">
      <div class="px-6 pt-4">
        <!-- Logo -->
        <a class="flex-none rounded-xl text-xl text-black inline-block font-semibold focus:outline-none focus:opacity-80" href="/home" aria-label="Preline">
          Chatteroo
        </a>
        <!-- End Logo -->
      </div>
  
      <!-- Content -->
      <div class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 ">
        <nav class="hs-accordion-group p-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
          <ul class="flex flex-col space-y-1">
  
            <!-- <li class="hs-accordion" id="users-accordion">
              <button type="button" class="hs-accordion-toggle w-full text-start flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-none focus:bg-gray-100 " aria-expanded="true" aria-controls="users-accordion-child">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                Users
  
                <svg class="hs-accordion-active:block ms-auto hidden size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
  
                <svg class="hs-accordion-active:hidden ms-auto block size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
              </button>
  
              <div id="users-accordion-child" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden" role="region" aria-labelledby="users-accordion">
                <ul class="hs-accordion-group ps-8 pt-1 space-y-1" data-hs-accordion-always-open>
                  <li class="hs-accordion" id="users-accordion-sub-1">
                    (You)
                  </li>
                      </ul>
                    </div>
                  </li> -->
                  <div class="bg-slate-200 rounded-lg p-3">
                    <span class="font-medium text-xl text-gray-700">Users</span>
                    <ul class="list-none list-inside text-gray-600 mt-2 space-y-1 text-sm">
                      <li><%= username %> (You)</li>
                      <li>Mukta</li>
                      <li>Aditi</li>
                    </ul>
                  </div>
                </ul>
              </div>
            </li>
      <!-- End Content -->
    </div>
  </div>
  <!-- End Sidebar -->
  
  <!-- Content -->
  <div class="w-full lg:ps-64">
    <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
      <!-- your content goes here ... -->
       <!-- Chat Bubble -->
<ul class="space-y-5">
    <!-- Chat -->
    <li class="max-w-lg flex gap-x-2 sm:gap-x-4">
      <!-- Card -->
      <div class="bg-white border border-gray-200 rounded-2xl p-4 space-y-3">
        <p class="text-sm text-black">
            Hello Person1
          </p>
        </div>
      </div>
      <!-- End Card -->
    </li>
    <!-- End Chat -->
  
    <!-- Chat -->
    <li class="max-w-lg ms-auto flex justify-end gap-x-2 sm:gap-x-4 px-5">
      <div class="grow text-end space-y-3">
        <!-- Card -->
        <div class="inline-block bg-blue-600 rounded-2xl p-4 shadow-sm">
          <p class="text-sm text-white">
            Hello Person2
          </p>
        </div>
        <!-- End Card -->
      </div>
    </li>
    <!-- End Chat -->
  
    <!-- Chat Bubble -->
    
  </ul>
  <!-- End Chat Bubble -->
    </div>
  </div>
  <!-- End Content -->
  <!-- ========== END MAIN CONTENT ========== -->

<%- include('partials/footer') %>