<%- include('partials/header') %>
    
<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white border-b text-sm py-2.5 lg:ps-[260px] ">
    <nav class="px-4 sm:px-6 flex basis-full items-center w-full mx-auto">
      <div class="me-5 lg:me-0 lg:hidden">
        <!-- Logo -->
        <!-- End Logo -->
      </div>
  
      <div class="w-full flex items-center justify-between ms-auto gap-x-1 md:gap-x-3">
  
        <div class="flex text-xs md:text-sm justify-between">
            <span class="me-5">Welcome, <strong id="user"></strong></span>
            <span>Room: <strong id="roomName"></strong></span>
        </div>
        <a href="/home" id="leave-btn" class="py-2 px-4 inline-flex items-center gap-x-2 text-xs md:text-sm font-medium rounded-lg border-2 border-red-800 bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:bg-red-600 disabled:opacity-50 disabled:pointer-events-none">
          Leave Room
        </a>
          <!-- End Dropdown -->
      </div>
    </nav>
  </header>
  <!-- ========== END HEADER ========== -->
  
  <!-- ========== MAIN CONTENT ========== -->
  <div class="-mt-px">
    <!-- Breadcrumb -->
    <div class="sticky top-0 inset-x-0 z-20 bg-white border-y px-4 sm:px-6 lg:px-8">
      
    </div>
  </div>
  
  <!-- Sidebar -->
  <div id="hs-application-sidebar" class="hs-overlay  [--auto-close:lg]
    hs-overlay-open:translate-x-0
    -translate-x-full transition-all duration-300 transform
    w-[260px] h-full
    hidden
    fixed inset-y-0 start-0 z-[60]
    bg-white border-e border-gray-200
    lg:block lg:translate-x-0 lg:end-auto lg:bottom-0
    " role="dialog" tabindex="-1" aria-label="Sidebar">
    <div class="relative flex flex-col h-full max-h-full">
      <div class="px-6 pt-4">
        <!-- Logo -->
        <a class="flex-none rounded-xl text-xl text-black inline-block font-semibold focus:outline-none focus:opacity-80" href="/home" aria-label="Preline">
          Chatteroo
        </a>
        <!-- End Logo -->
      </div>
  
      <!-- Content -->
      <div class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 ">
        <nav class="hs-accordion-group p-3 w-full flex flex-col flex-wrap" data-hs-accordion-always-open>
          <ul class="flex flex-col space-y-1">
                  <div class="bg-slate-200 rounded-lg p-3">
                    <span class="font-medium text-xl text-gray-700">Users</span>
                    <ul id="userList" class="list-none list-inside text-gray-600 mt-2 space-y-1 text-sm">
                      
                    </ul>
                  </div>
                </ul>
              </div>
            </li>
      <!-- End Content -->
    </div>
  </div>
  <!-- End Sidebar -->
  
  <!-- Content -->
  <div id="chatMessages" class="w-full lg:ps-64 mb-20">
    <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
    <ul id="chatLog" class="space-y-5">
    <!-- Chat -->
 
    </ul>
    </div>
  </div>
  <!-- Input message -->
  <div class="fixed bottom-0 bg-slate-300 h-20 w-full">
    <form id="chat-form" class="flex justify-center w-screen lg:ps-64">
      <div class="fixed bottom-0 w-3/4">
        <input type="text" id="msg" class="py-4 px-4 block w-full rounded-md mb-3 border-2 border-slate-400 text-sm outline-none focus:border-gray-800 focus:ring-gray-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="type your message here">
      
        <div class="absolute top-3 end-3 z-10">
          <button type="submit" class="py-1.5 px-3 inline-flex shrink-0 justify-center items-center text-sm font-medium rounded-lg text-white bg-blue-600 hover:bg-blue-500 focus:outline-none disabled:opacity-50 disabled:pointer-events-none">
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- End Content -->
  <!-- ========== END MAIN CONTENT ========== -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.12.3/qs.min.js" integrity="sha512-44BDaDSsjSe2hSjVA42JrU77ADA4Uzcl3ZJq6tR+9Q1zA0e428UYZKdg9L7f8OFtj0SMdKv7ZCeJWNkgxiDAFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>


<%- include('partials/footer') %>